<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>基于IoT的智慧园区信息管理系统</title>

		<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" />
		<script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="UTF-8"></script>
		<script th:src="@{/js/vue.min.js}" type="text/javascript" charset="UTF-8"></script>
		<script th:src="@{/layui/layui.js}" type="text/javascript" charset="UTF-8"></script>
	</head>

	<body>
		<div th:replace="~{commons/commons::sidebar(active='index.html')}"></div>
		<div class="layui-container main" style="text-align: center;">
			<br>
			<h1 style="font-family: '楷体';">欢迎进入智慧园区控制系统</h1>
			<br>
			<img src="image/1.jpeg" />
		</div>
	</body>
	<script>
		
	</script>
</html>
