<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>电灯</title>

		<link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}"/>
		<script th:src="@{/js/jquery.min.js}" type="text/javascript" charset="UTF-8"></script>
		<script th:src="@{/js/vue.min.js}" type="text/javascript" charset="UTF-8"></script>
		<script th:src="@{/layui/layui.js}" type="text/javascript" charset="UTF-8"></script>
	</head>

	<body>
		<div th:replace="~{commons/commons::sidebar(active='lamp.html')}"></div>

		<div class="layui-container main">

			<form class="layui-form" action="">
				<div class="layui-form-item" style="margin-top: 40px;margin-left: 30px">
					<table  class="layui-table" style="height: 80px">
						<tr>
							<td style="width: 200px;">电灯状态</td>
							<td>
								<input type="checkbox" th:checked="${status}" name="open" lay-skin="switch" lay-filter="switchTest" lay-text="ON|OFF" onclick="switchs" >
								<img th:src="${status=='true'?'image/open.jpg':'image/close.jpg'}" id="switchImg" style="margin-left: 600px">
							</td>
						</tr>
						<tr>
							<td style="width: 200px;">自动节能模式</td>
							<td>
								<input type="checkbox" th:checked="${photosensitiveStatus}" name="open" lay-skin="switch" lay-filter="switchTest1" lay-text="ON|OFF" onclick="switchs1" >
							</td>
						</tr>
					</table>
				</div>
			</form>

		</div>
	</body>
	<script>
		layui.use(['form'], function(){
			const form = layui.form
					, layer = layui.layer;
			//监听指定开关
			form.on('switch(switchTest)', function(data){
				let lampSwitch = this.checked;
				if(lampSwitch){
                     document.getElementById("switchImg").src="image/open.jpg";
				}else{
					document.getElementById("switchImg").src="image/close.jpg";
				}
				$.ajax({
					url:"./lamp",   //请求地址
					type:"post",   //请求方法
					data:{"lampSwitch":lampSwitch},//序列化表单
					dataType:"json",   //期待返回的数据类型，也可以理解为请求的数据类型
					success:function (data) {  //成功时的处理。参数表示返回的数据
					}
			});

			layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
				offset: '6px'
			});
		});

			form.on('switch(switchTest1)', function(data){
				let photosensitiveSwitch = this.checked;
				$.ajax({
					url:"./lamp",   //请求地址
					type:"post",   //请求方法
					data:{"photosensitiveSwitch":photosensitiveSwitch},//序列化表单
					dataType:"json",   //期待返回的数据类型，也可以理解为请求的数据类型
					success:function (data) {  //成功时的处理。参数表示返回的数据
					}
				});

				layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
					offset: '6px'
				});
			});

		});
	</script>
</html>
